
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>Personal information</title>

    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="../css/custom-styles.css" rel="stylesheet"/>
    <link href="../css/element/index.css" rel="stylesheet"/>

    <style>
        [v-cloak] {
            display: none;
        }
        .table th, .table td {
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<div id="wrapper" v-cloak>
    <div class="row">
        <div class="col-md-12" style="height:60px;">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="row">
                    <div class="col-md-2">
                        <a class="navbar-brand" style="width:100%; background-color: darkslateblue"><strong style="font-size: 20px;">SRU System</strong></a>
                    </div>
                    <div class="col-md-10">

                        <ul class="nav navbar-top-links navbar-right">
                            <li style="color: white">Welcome, {{ user.name }}</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="javascript:void(0)" @click="personalPage"><i class="fa fa-user fa-fw"></i> Personal information</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" @click="logout"><i class="fa fa-sign-out fa-fw"></i> Exit</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <nav id="nav-id" class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <!--                        主页-->
                        <li>
                            <a href="home.html"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <!--侧边分类栏 -->
                            <a href="#"><i class="fa fa-sitemap"></i>Management<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li v-if="user.type===1">
                                    <a href="secretaryInfo.html"><i class="fa fa-desktop sub-icon-mg" aria-hidden="true"></i><Span class="mini-sub-pro">Secretary info</span></a>
                                </li>
                                <li v-if="user.type===1">
                                    <a href="coachInfo.html"><i class="fa fa-male sub-icon-mg" aria-hidden="true"></i><Span class="mini-sub-pro">Coach info</span></a>
                                </li>
                                <li v-if="user.type!==3 && user.type !==4">
                                    <a href="#"><i class="fa fa-user sub-icon-mg" aria-hidden="true"></i>Player info<span class="mini-sub-pro fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="playerInfo.html"><i class="fa fa-table sub-icon-mg" aria-Hidden="True"></i><span class="mini-sub-pro">Junior player</span></a>
                                        </li>
                                        <li>
                                            <a href="seniorPlayerInfo.html"><i class="fa fa-table sub-icon-mg" aria-Hidden="True"></i><span class="mini-sub-pro">Senior player</span></a>
                                        </li>
                                        <li>
                                            <a href="playerProfileInfo.html"><i class="fa fa-table sub-icon-mg" aria-Hidden="True"></i><span class="mini-sub-pro">Player profile</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li v-if="user.type===1">
                                    <a href="doctorInfo.html"><i class="fa fa-user-md sub-icon-mg" aria-hidden="true"></i><Span class="mini-sub-pro">Doctor info</span></a>
                                </li>
                                <li v-if="user.type===1">
                                    <a href="nonPlayerInfo.html"><i class="fa fa-book sub-icon-Mg" aria-hidden="true"></i><span class="mini-sub-pro">Non-player info</span></a>
                                </li>
                                <li>
                                    <a href="trainingInfo.html"><i class="fa fa-calendar sub-icon-mg" aria-hidden="true"></i><span class="mini-sub-pro">Training info</span></a>
                                </li>
                                <li>
                                    <a href="gameInfo.html"><i class="fa fa-group sub-icon-mg" aria-hidden="true"></i><span class="mini-sub-pro">Game info</span></a>
                                </li>
                                <li v-if="user.type===1">
                                    <a href="noticeInfo.html"><i class="fa fa-file-text sub-icon-mg"></i>System Notice</a>
                                </li>
                            </ul>
                        <li>
                            <a href="javascript:void(0)" @click="personalPage" class="active-menu"><i class="fa fa-info-circle"></i>Personal info</a>
                        </li>
                        <li>
                            <a href="updatePassword.html"><i class="fa fa-unlock-alt"></i>Change password</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>Exit login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-10" style="background-color: #e6e6e6">
            <div id="page-wrapper">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default" style="background-color: whitesmoke">
                                <div class="panel-heading" style="margin-bottom:10px; background-color: whitesmoke">
                                    Personal information
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <input type="hidden" v-model="entity.id">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" v-model="entity.name" placeholder="Andy Bullock" id="name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" v-model="entity.email" placeholder="abc@email.com" id="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Mobile</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" v-model="entity.tel" placeholder="36066999" id="tel">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Address</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" v-model="entity.address" placeholder="xx Road, xx District" id="address">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Birth Date</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" v-model="entity.birth" placeholder="1999-09-09" id="birth">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Guardian</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" v-model="entity.guardian" placeholder="Guardian Name" id="Guardian">
                                            </div>
                                        </div>
                                    </form>
                                    <div style="text-align: center">
                                        <button class="btn btn-primary" @click="update()">Save</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom-scripts.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/element/index.js"></script>

<script>
    function msg(type, msg) {
        Vue.prototype.$message({
            type: type, // success（成功）、warning（警告）, error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true
        })
    }
    new Vue({
        el: '#wrapper',
        data: {
            user: {},
            entity: {},
        },
        created: function () {
            const menuHeight = document.getElementById("main-menu").getElementsByTagName('li').length * 53;
            const bodyHeight = document.getElementsByTagName("body")[0].clientHeight;
            document.getElementById("nav-id").style.height = (menuHeight > bodyHeight ? menuHeight : bodyHeight) + 'px';

            this.user = JSON.parse(localStorage.getItem('user'));
            this.loadData();

            // TODO

        },
        methods: {
            loadData() {
                axios.get("/getUser").then(res=>{
                    if(res.data.code === '0'){
                        //拿到数据赋值给entity
                        this.entity = res.data.data;
                    }else{
                        msg("error", res.data.msg)
                    }
                })

            },
            update() {
                axios.put("/juniorPlayerInfo", this.entity).then(res=>{
                    //判断状态
                    if(res.data.code === '0'){
                        msg("success","Save successfully");
                        this.loadData(); //重新加载信息
                    }else{
                        msg("error", res.data.msg);
                    }
                })
            },
            //个人主页
            personalPage(){
                //接口是否调用成功
                if(res.data.code === '0'){ //成功
                    //跳转个人信息
                    if(user && user.type && 1 === user.type){
                        window.location = '/end/page/accountSecretaryInfo.html'
                    }
                    if(user && user.type && 2 === user.type){
                        window.location = '/end/page/accountCoachInfo.html'
                    }
                    if(user && user.type && 3 === user.type){
                        window.location = '/end/page/accountPlayerInfo.html'
                    }
                    if(user && user.type && 4 === user.type){
                        window.location = '/end/page/accountSeniorPlayerInfo.html'
                    }
                }else { //错误
                    alert(res.data.msg);
                    this.clickImg();
                }
            },
            logout() {
                axios.get("/logout").then(res=>{
                    if(res.data.code === '0'){
                        window.location = "/end/page/login.html"
                    }else{
                        msg("error", res.data.msg);
                    }
                })
            }
        }
    })
</script>
</body>
</html>